[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html5lib = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
apscheduler = "*"
matplotlib = "*"
pyinstaller = "*"
openpyxl = "*"

[dev-packages]
types-requests = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"

[requires]
python_version = "3.9"
